*{
    padding: 0%;
    Margin:0%;
}

body{
    background-color: #6D4F4B;
    color: beige;
}

/* Home */



a:link{
    color: #f0ebeb;

    
}
a:hover{
    text-decoration: none;
    color: floralwhite;
    animation: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.text-body-emphasis {
  color: #ece2e2;
}
.my_title {
    font-size: 4.5rem;
}

.my_desc {
    font-size: 2rem;
}


.containerHome{
   width: 70rem;
   height: 50rem;
}


/* About Page */

#about {
    margin-top: 60px;
}

.my-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(243, 238, 238);
}

.backimg {
    height:100vh;
    background: url('https://i.postimg.cc/tTwv5LhL/smilegmi-young-african-girl-computer-programming-studio-ghibli-ba2bed1f-e1f8-4bb3-a532-798adae3b835.webp');
    background-size:cover;
    position: absolute; 
    overflow: hidden;
    display: flex;
    justify-content: flex;
    align-items: center;
    z-index: -1;
    background-attachment: fixed;
    width: 100%;
    

}
 /*my image*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
  }

   h1 h5 p{
    color: #e6dddd;
  }
  /*@media*/
 @media (max-width: 500px) {
  .aboutimg {
        width: 100%;
    }
  }
  

  /*Education/Work Experience*/
  .timeline {
    margin: 40px auto;
    max-width: 800px;
  }
  
  .timeline-item {
    border-left: 2px solid #f4f5f5;
    margin: 20px 0;
    padding-left: 20px;
    position: relative;
  }
  
  .timeline-content {
    background-color: #100d0d;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .timeline-item h3 {
    margin: 0;
    color: #333;
  }
  
  
    
 
  
  .timeline-item p {
    margin: 5px 0 0;
    color: #555;
  }

  .timeline-item ul {
    margin: 5px 0 0;
    color: #555;
  }
  

  .containerEducation{
    width: 40rem;
   height: 30rem


  }
  
/*skills*/

.center-fa {
    display:inline-block;
    width: 100%;
    }

div i{
  text-align: center;
}

.shadow-button {
  background-color: white;
  border-radius: 10px;
  box-shadow: -5px 5px 30px black;
}

.shadow-button:hover {
  background-color: #FDFBFC;
}

#skills h4 {
  text-align: center;
}

.pad-words {
  margin-top: 20px;
  color: #000;
}


.pad-section {
  margin-top:25px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-top: 1px solid black;
  

  }






/*Contacts section*/

.contact-info {
	background: black;
	padding: 45px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin-top: 60px;
    margin-bottom: 60px;
    }
.contact-info .col-12 {
	font-size: 17px;
	margin-top: 25px;
	color: white;
	margin-bottom: 2px;
}
.contact-info p {
	font-size: 15px;
	color: #818385;
	line-height: 8px;
}
/*container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }*/
  
  .contact {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  form {
    text-align: left;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #0a0a0a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  input[type="submit"]:hover {
    background-color: #0c0b0b;
  }
/* testimonials */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}


/*Footer section*/

.footer {
	background: black;
	padding: 20px 0px 5px 0px;
    margin-top: 60px;
    margin-bottom: 80px;
    

}
.footer p {
	color: white;
	text-align: right;
}


	.footer p {
		text-align: center;
	}

 
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: rgb(12, 12, 12);
    }
  }